// $fontMain: "__", "Verdana", "Helvetica", "Arial", sans-serif;
// $fontTitle: "__", "Verdana", "Helvetica", "Arial", sans-serif;

// don't change, root base size = 10px
// $fontSize: 62.5%;
//usually - normal 400
// $fontWeightNormal: 400;

$colorBgnd: #ffffff;
$colorBgndDark: #f6f6f6;
$colorTextMain: #252b42;
$colorLightGray: #f3f3f3;
$colorTextSecond: #737373;
$colorPrimary: #ff7b47;
$colorSecond: #0d5c63;
$colorThird: #17213c;


$colorGray: #fafafa;
$colorFooterFill: #8ec2f2;
